<!-- About Section -->
<section id="about" class="about">
    <div class="container">
    
    

<div class="row">
		<div class="col-lg-9">
			<h3>Confirmed Speakers</h3>
			{% for speaker in site.data.speakers %}

			<div class="col-md-4 col-xs-6 rockstar-speakers-item">
			  <div class="rockstar-speaker" style="padding-top:20px;padding-bottom:30px;">
			    <div class="flow-img img-circle rockstar-speaker-img" style="background-image: url({{ site.baseurl | append: '/img/speakers/' | append: speaker.thumbnailUrl }})">
			    </div>
			    <div style="font-size: 20px; font-weight: 600; line-height: 1.1; margin: 10px 0 2px; text-align: center;">{{ speaker.name }} {{ speaker.surname }}</div>
			    <div class="sub">{{ speaker.company }}</div>
			  </div>
			</div>
			{% endfor %}
			
			<div class="clearfix"></div>

			<div align="center">
			<br/>
			  ... and over 40 more speakers from QGIS community!<br/><br/>
            </div>

			<div align="center">
              <a href="{% link _pages/schedule.html %}" class="btn btn-primary waves-effect waves-button waves-light waves-float">Schedule Outline</a>
              &nbsp;&nbsp;&nbsp;
              <a href="{% link _pages/schedule-detailed.html %}" class="btn btn-primary waves-effect waves-button waves-light waves-float">Detailed Schedule</a>
           </div>
		</div>
</div>

    
        <h3>About QGIS User Conference</h3>

            <div class="row">
                <div class="col-lg-9">
                    <p>
The QGIS User Conference is an annual event that brings together users and developers of the QGIS open-source geographic information system (GIS) software. The conference provides an opportunity for attendees to learn about the latest developments in QGIS, share their experiences with others, and network with other QGIS users and developers. The conference attracts atendees from a broad spectrum of organizations and industries.
</p><p>
This year, the conference is being held on <b>9-10 September 2024</b> in <b>Bratislava, Slovakia</b>.
</p>
<p>
Right after the conference, 27th QGIS <b>Contributor Meeting</b> will be held at the same venue on <b>11-13 September</b>. Contributor meetings bring together active members of the QGIS project to plan their work, hold face-to-face discussions and brainstorm new ideas.
</p>

<div align="center">
    <a href="{% link _pages/about.md %}" class="btn btn-primary waves-effect waves-button waves-light waves-float">Learn More</a>
</div>

<br>

<p>
A look back at the <a href="https://uc2023.qgis.nl/">QGIS User Conference 2023</a> hosted in Den Bosch, Netherlands:
</p>

<p align="center">
    <img src="{{ site.baseurl }}/img/2023/DSC_0386.JPG" width="300" style="padding-bottom: 5px">
    <img src="{{ site.baseurl }}/img/2023/DSC_0515.JPG" width="300" style="padding-bottom: 5px">
    <img src="{{ site.baseurl }}/img/2023/DSC_0217.JPG" width="300" style="padding-bottom: 5px">
    <img src="{{ site.baseurl }}/img/2023/DSC_0586.JPG" width="300" style="padding-bottom: 5px">
</p>


<!--
<a href="https://github.com/qgis/QGIS/wiki/27th%E2%80%90Contributor%E2%80%90Meeting%E2%80%90in%E2%80%90Bratislava"></a>-->

</p>

<!-- magic! -->
<style>
    .myanchor {
    display: block;
    height: 50px;
    margin-top: -50px;
    visibility: hidden;
}
</style>
</div></div>


<span class="myanchor" id="tickets"></span>

<h3>Tickets</h3>


<div class="row">
<div class="col-lg-9">

<p>
Tickets grant access to all conference sections, coffee breaks, lunch and the social event.
<br/>
Accommodation is NOT included in the ticket price.
<br/>
The prices below are final and inclusive of VAT (there are no extra charges).
<br/>
Students enrolled to full-time university studies are entitled to discounted tickets for 99 EUR - please contact us if you are a student (we will need a proof of your enrollment).
</p>


<p>
<tito-widget event="qgis-slovensko/qgis-user-conference-2024"></tito-widget>
</p>

</div>
</div>


    </div>
</section>
<!-- End About Section -->
