<!-- Begin Footer -->
<footer id="footer" class="footer">
	<div class="row">
		<div class="pull-left col-md-6 col-xs-6">
			<div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300" data-href="{{ site.url }}"></div>
		</div>
		<div class="logo logo-footer logo-gray pull-right"></div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h5>QGIS User Conference</h5>
			<ul>
				<li>9-10 September 2024</li>
				<li>Faculty of Civil Engineering STU</li>
				<li>Bratislava, Slovakia</li>
			</ul>
		</div>
		<!--
		<div class="col-md-4">
			<h5>Follow us</h5>
			<ul>
				<li></li>
			</ul>
		</div>-->
		<div class="col-md-3">
			<h5>Contact Us</h5>
			<ul>
				<li><a href="mailto:uc2024@qgis.sk">uc2024@qgis.sk</a></li>
				<li>OZ QGIS Slovensko</li>
				<li></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h5>Links</h5>
			<ul>
				<li><a href="https://github.com/qgis/QGIS/wiki/27th%E2%80%90Contributor%E2%80%90Meeting%E2%80%90in%E2%80%90Bratislava">Contributor Meeting</a></li>
				<li><a href="https://uc2023.qgis.nl/">QGIS UC 2023</a></li>
				<li><a href="https://qgis.org/">QGIS project</a></li>
			</ul>
		</div>
		<!--
		{% for block in site.footerBlocks %}
        {% assign colWidth = 12 | divided_by: forloop.length %}
		<div class="col-md-{{ colWidth }} col-xs-6">
			<h5>{{ block.title }}</h5>
			<ul>
				{% for linkElement in block.links %}
				<li><a href="{% if linkElement.permalink != null %} {{ linkElement.permalink | prepend: site.baseurl }} {% else %} {{ linkElement.link }} {% endif %}" {% if linkElement.link != null %}target="_blank"{% endif %}>{{ linkElement.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
		-->
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<ul class="social-links">
				{% for social in site.socialLinks %}
				<li>
					<a href="{% if social.permalink != null %} {{ social.permalink | prepend: site.baseurl }} {% else %} {{ social.link }} {% endif %}" target="_blank">
						<svg class="icon icon-{{ social.icon }}" viewBox="0 0 30 32">
							<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social.icon }}"></use>
						</svg>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row">
		<!-- Please don't delete this line-->
		<div class="">
			<p class="copyright">
				Web based on <a href="https://github.com/gdg-x/zeppelin" target="_blank">Project Zeppelin</a>
				 by <a href="https://github.com/ozasadnyy" target="_blank">Oleh Zasadnyy</a> &middot;
				 Hero image by <a href="https://commons.wikimedia.org/wiki/File:Bratislava_Panorama_R01.jpg">Marc Ryckaert</a>
			</p>
		</div>
	</div>
</footer>
<!-- End Footer -->
