<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section enable-overlay" style="background-image: url('{{ site.baseurl }}/img/qgis-uc/Bratislava_Panorama_R01_1600.jpg');">
    <div class="overlay solid-overlay"></div>

    {% include navigation.html %}
    <div class="content-wrapper">
        <!-- <video autoplay loop muted>
            <source src="{{ site.baseurl }}/img/sections-background/sotmsee.mp4" type="video/mp4">
        </video> -->
        <div class="jumbotron">
            <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
                {% assign heroText = site.heroTitle | split:"<typeout>" %}
                <h1>{{ heroText[0] }}<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{ heroText[1] }}</h1>
                <p>{{ site.eventDate }}</p>
                <p>Bratislava, Slovakia</p>
                {% for button in site.heroButtons %}
                <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn-primary waves-effect waves-light" {% if button.link != null %}target="_blank"{% endif %} style="padding-left: 30px; border-radius: 5px; padding-right: 30px; padding-top: 10px; padding-bottom: 10px; margin-top: 20px;">{{ button.text }}</a>
                {% endfor %}
            </div>
        </div>
        <a href="#about" class="explore">
            <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
            </svg>
        </a>
    </div>
</section>
<!-- End Hero Section -->
