<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="container">
        {% for partner in site.data.partners %}
        <h3>{{ partner.group }}</h3>
        <ul class="list-inline">
            {% for element in partner.elements %}
            <li>
                <a href="{{ element.link }}" target="_blank">
                    <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}" height="{% if element.height %}{{ element.height }}{% else %}{{ partner.height }}{% endif %}">
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}

        <div class="">
            Please get check out the <a href="{% link _pages/sponsors.md %}">Sponsors page</a> if you are interested in sponsoring the event!
        </div>
    </div>
</section>
<!-- End Partners Section -->
